.jumbotron
  .container
    //h1 Générateur de lettres de motivation
    p Générateur de lettres de motivation pour l'inscription aux options/filière de Centrale Paris
    .row
      .input-group
        label(for="descryptKey") Les templates de lettres sont chiffrées
        .input-group
          .input-group-addon
            i.glyphicon.glyphicon-lock
          input.input-lg.form-control(type="text", placeholder="Clé de déchiffrement")

.container
  p.input-group
    input.form-control(
      type='text'
      datepicker-popup='dd/MM/yyyy'
      ng-model='date'
      is-open='opened'
      ng-required='true'
      )
    span.input-group-btn
      button.btn.btn-default(type='button', ng-click='openDate($event)')
        i.glyphicon.glyphicon-calendar

  pre
    | {{ date }}
